_site/*
_theme_packages/*

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc

# [ezequielv] own local symlinks/files, etc.
.local
.local[-_]*

# track 'localrc.vim' plugin-related (user) files
!.local*.vimrc

# renamed (gutentags (vim)) "exuberant ctags" output files
ctags_tags*

# do not track anything under this directory
/modules/untracked/

Gemfile.lock

.jekyll-metadata

# these 'lftp' config files should not be committed to a git repository from
# the root directory.
/lftp[-_]*.cfg*

