
{% if jb_module_debug_messages_processed %}
{% else %}

{% assign jb_module_debug_messages_processed = true %}

{% include JB/setup %}

{% if page.debug_content %}
  {% if page.debug_content == "dev" or page.debug_content == "auto" or page.debug_content == "default" %}
    {% if is_production != true %}
      {% assign jb_module_debug_messages_enabled = true %}
    {% endif %}
  {% elsif page.debug_content == "true" or page.debug_content == "forced" %}
    {% assign jb_module_debug_messages_enabled = true %}
  {% endif %}
{% endif %}

{% if jb_module_debug_messages_enabled %}
<h2>main debug messages</h2>

<ul>
 <li>is_production: {{ is_production }};</li>
 <li>jb_prod_env: {{ jb_prod_env }};</li>
 <li>BASE_PATH: {{ BASE_PATH }};</li>
 <li>site.JB.BASE_PATH: {{ site.JB.BASE_PATH }};</li>
 <li>page.id: {{ page.id }};</li>
 <li>page.comment_id: {{ page.comment_id }};</li>
 <li>page.url: {{ page.url }};</li>
 <li>page.date: {{ page.date }};</li>
</ul>
{% endif %}

{% comment %}
TODO: put vim modeline here
{% endcomment %}

{% endif %} {% comment %}jb_module_debug_messages_processed{% endcomment %}
